<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books List</title>
</head>
<body>
<table>
  <tr th:each="book:${booksList}">
    <td th:text="${book.value.bookId}"></td>
    <td th:text="${book.value.title}"></td>
    <td th:text="${book.value.author}"></td>
    <td th:text="${book.value.publishedYear}"></td>

  </tr>
</table>

<a th:href="@{/user/users}">Go back to Users</a>
<br>
<a th:href="@{/librarians}">Go back to Librarians</a>
</body>
</html>