<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>
<h5>Check the details</h5>
<form method="get">
<p>
   <label for="name">Full name</label>
   <input type="text"  name="name" id="name" th:field="${userFromController.name}" readonly>
</p>
<p>
    <label for="age">Age</label>
    <input type="text"  name="age" id="age" th:field="${userFromController.age}" readonly>
</p>
<p>
    <label for="address">Address</label>
    <input type="text"  name="address" id="address" th:field="${userFromController.address}" readonly>
</p>
</form>

<br>
<a th:href="@{users}">Go back to Users page</a>
</body>
</html>