<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<h5>You are in users domain</h5>
<br>
<table>
    <tr th:each="user:${users}">
        <td th:text="${user.value.name}"></td>
        <td th:text="${user.value.age}"></td>
        <td th:text="${user.value.userId}"></td>
        <td th:text="${user.value.address}"></td>
        <td><a th:href="@{filledUserForm(idFromView=${user.value.userId})}">Detail</a></td>
        <td><a th:href="@{deleteUser(idFromView=${user.value.userId})}">Delete</a></td>
        <td><a th:href="@{getUserFormToUpdate(idFromView=${user.value.userId})}">Update</a></td>
        <td><a th:href="@{/books(idFromView=${user.value.userId})}">View Books</a></td>
</tr>
</table>
<a th:href="@{/user/createFakeUsers(qty=10)}">Create 10 users</a>
<br>
<a th:href="@{/home}">Go Homepage</a>
</body>
</html>